@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ICustomerRepository Repository


<h3>List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.Id @customer.Name</li>
    }    
</ul>

<QuickGrid Class="table table-striped" Items="@customers">
    <PropertyColumn Property="@(p=>p.Id)"   />
    <PropertyColumn Property="@(p=>p.Name)" />
</QuickGrid>


@code {


    private IQueryable<Customer> customers;

    protected override void OnInitialized()
    {
        customers = Repository.GetAll();
    }



}
