@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorServerApp.Components.Shared
@inject ICustomerRepository Repository


<h3>List</h3>

<CustomerTableTemplate Items=@customers >
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
    </HeaderTemplate>

    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
    </RowTemplate>
</CustomerTableTemplate>

<QuickGrid Class="table table-striped" Items="@customers">
    <PropertyColumn Property="@(p=>p.Id)"   />
    <PropertyColumn Property="@(p=>p.Name)" />
</QuickGrid>


@code {


    private IQueryable<Customer> customers;

    protected override void OnInitialized()
    {
        customers = Repository.GetAll();
    }



}
