@page "/users"
@using BlazorServerApp.Components.Shared
@using Domain.Abstractions
@using Domain.Models
@inject IUserRepository Repository
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<h3>List</h3>

<Loader Message="Loading users..." Items=@users>

    <TableTemplate Items=@users>
        <HeaderTemplate>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </HeaderTemplate>

        <RowTemplate Context="user">
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
        </RowTemplate>

    </TableTemplate>

</Loader>


@code {
    private IQueryable<User> users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        users = await Repository.GetAllAsync();
    }
}
